AWS.config.region = "${region_id}"

window.IDENTITY_POOL_ID = "${identity_pool_id}"
window.USER_POOL_ID = "${user_pool_endp}"
window.BUCKET_NAME = "${bucket_name}"

window.USER_ROLE_ARN = "${user_role_arn}"

window.POOL_DATA = {
    UserPoolId: "${user_pool_id}",
    ClientId: "${user_pool_client_id}"
}