#!/bin/bash

echo "AWS_ACCESS_KEY_ID=${aws_access_key_id}" >> /etc/environment
echo "AWS_SECRET_ACCESS_KEY=${aws_secret_access_key}" >> /etc/environment
echo "AWS_REGION=${region_id}" >> /etc/environment
echo "CLIENT_ID=${user_pool_client_id}" >> /etc/environment
echo "CLIENT_SECRET=${user_pool_client_secret}" >> /etc/environment
echo "USER_POOL_ID=${user_pool_id}" >> /etc/environment

apt update
apt install python3 python3-pip -y

cd /opt
wget https://github.com/adeadfed/octopus-storage/releases/download/auto-deploy/admin-app.tar.gz -O admin-app.tar.gz
tar -xzvf admin-app.tar.gz --no-same-owner --no-same-permissions

cd admin-app
python3 -m pip install -r requirements.txt --break-system-packages

mv admin_app.service /etc/systemd/system/
systemctl restart admin_app